*~
/src/elss*
/src/pchk
src/*.o
src/*.mod
test/*
!test/10.fa
!test/eval.ref.out
!test/sample.ref.out
!cv.bash
!run-test.bash
user_guide/*
!user_guide/ms.tex
!user_guide/ms.bib
!user_guide/Makefile
save/*
docs/*
names
TODO

